<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenidos{% endblock %}</title>
        {% block stylesheets %}{{ include("stylesheets.html.twig") }}{% endblock %}
        {% block scripts_head %}{{ include("scripts-head.html.twig") }}{% endblock %}
    </head> 
    <body>
        <div class="container">
            {% block menu_superior %} {{include("menu-superior.html.twig")}} {% endblock %}
            {% block content %}
            
            {% endblock %}
            {% block footer %} {{include("footer.html.twig")}} {% endblock %}

        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
