{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{# {% block head %}{% endblock %} #}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Aplicación Web Base Symfony 4.2</h1>
    <p class="lead">Incluye Bootstrap, Twig, jQuery, webpack</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
{% endblock %}